.product {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    border: solid 2px red !important;
    border-radius: 30px;
    padding-top: 3px;
}

.card-body a {
    background-color: rgb(23, 97, 0);
    border: solid 1px rgb(4, 255, 4);
    width: 250px;
    display: block;
    margin: auto;
}
.checked {
    color: orange;
  }







.navbar a {
    text-decoration: underline;
    color: black;
}
.navbar a:hover {
    color: red;
}



.leftMenu {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: auto;
    border: solid 1px black;
}