.navbar img {


}


.navbar{
background-color: rgb(6, 6, 71);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 200px;
}
.navbar a:hover {
    color: yellow;
}
body {
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline;
    color: white;
}
.videos {
    display: flex;
    justify-content: space-evenly;
}